{% extends 'base.html' %}

{% block head %}
<title>Clicker</title>

{% endblock %}

{% block body %}
<div id="box">
    <div id="main">
        <script>
            fetch("https://api.geoapify.com/v1/ipinfo?ip=24.191.75.93&apiKey=d548c5ed24604be6a9dd0d989631f783")
            
            .then(response => response.json())
            .then(result => console.log(result))
            .catch(error => alert('error', error));
        </script>
        <h1>
            CLICKS:
            <span id="value"></span>
            <script>
                var xhr = new XMLHttpRequest();
                xhr.open("GET", "https://api.countapi.xyz/get/mysite.com/goodclick");
                xhr.responseType = "json";
                xhr.onload = function() {
                    document.getElementById("value").textContent = this.response.value;
                }
                xhr.send();
            </script>
        </h1>
        <button id="click" onclick="clicked()">Click</button>
        <script>
            function clicked() {
                var xhr = new XMLHttpRequest();
                xhr.open("GET", "https://api.countapi.xyz/hit/mysite.com/goodclick");
                xhr.responseType = "json";
                xhr.onload = function() {
                    document.getElementById("value").textContent = this.response.value;
                }
                xhr.send();              
            }
        </script>
        
    </div>
</div>
{% endblock %}